$veryperi: #6667ab;
$background-color: whitesmoke;
$box-color: #d7d7fa;
/* App css */
html, body, #root, #root>div {
  height: 100%
}

body {
  margin : 0;
}

main {
  padding-top: 3%;
  height: 85vh;
  background-color: $background-color;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

* {
  font-family: sans-serif;
}

ul {
  list-style:none;
}

h2 {
  margin: 0;
}

/* Header 관련 CSS */
/* 버튼 */
.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

.logo {
  width: 200px;
}

@media (max-width: 991px) {
  .logo {
    width: 150px;
  }
}

.header-main-div {
  height: 110px;
  min-height: 110px;
  // background-color:blue;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 10px;
}

.header-right-btn {
  display: flex;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 에러 메시지 색상 */
.error_message {
  display: none;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -.5px;
  color: #ff003e;
  vertical-align: middle;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}



