$veryperi: #6667ab;

/* App css */
body {
  margin: 0;
}

main {
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

* {
  font-family: sans-serif;
}

ul {
  list-style:none;
}

/* Header 관련 CSS */
/* 버튼 */
.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

.logo {
  width: 200px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.header-right-btn {
  display: flex;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 에러 메시지 색상 */
.error_message {
  display: none;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -.5px;
  color: #ff003e;
  vertical-align: middle;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}



