.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px auto;
  width: 80%;
}

.hrLine {
  margin: 10px;
  width: 80%;
}


// RoomList 관련
.create-button {
  align-self: end;
  margin-right: 10%;
}
.table-container {
  width: 80%;
  white-space: nowrap;
}

// RoomCreate, RoomEdit관련
.board-title-form {
  width: 100%;
}

.board-button {
  margin: 10px;
}
.board-editor {
  margin-bottom: 10px;
  width: 991px;
}

@media (max-width: 991px) {
  .board-editor{
    width: 100%;
  }
}

.ck-editor__editable {
  min-height: 400px;
}

.myBtn {
  font-size: 28px;
}

// RoomDetail 관련
.detail-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  p {
    font-size: large;
  }

  span {
    font-size: large;
    margin-right: 10px;
  }

  img {
    border-radius: 50%;
    height: 20px;
    transform: translateY(2px);
  }
}

.board-detail-editor {
  width: 80%;
  margin: 10px;
}

.board-detail-button-list {
  button {
    margin: 5px;
  }
}

.modal {
  .modal-title {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
  }
  .modal-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      font-size: 1.4rem;
    }
  }
}
.edit-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// RoomComment 관련
.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.comment-title {
  margin-right: auto;
}
.comments-header {
  width: 100%;
}
.comments-header-textarea {
  width: 70%;
}

.comments-body {
  margin-top: 20px;
}
.comment-date {
  color: gray;
}

.comment-content {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 18px;
}

.comment-username {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  font-weight: 600;
}
.comments-edit-textarea {
  width: 70%;
}
.comments-footer {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
