$veryperi: #6667ab;

.main-content {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 80%;
  padding-bottom: 30px;
}


.main-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-title {
  width: 100%;
}

.main-content-bottom {
  display: flex;
  flex-direction: row;
}

.main-content-bottom-left {
  width: 50%;
}

.main-content-bottom-right {
  width: 50%;
}

.main-on-air-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.thumbnail {

}

.main-content-item {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 5px;
  margin: 5px;
}

.main-content-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  // width: 50%;
}

.main-content-item-info {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content-item:hover {
  .main-content-item-title {
    text-decoration: underline;
  }

  .main-content-item-info {
    text-decoration: underline;
  }
}