@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

* {
  // text-align: center;
}

.title {
  font-family: 'Noto Sans KR', sans-serif;
}

.tier-auth-steps {
  width: 600px;
  font-family: 'Noto Sans KR', sans-serif;
}