@import './App.scss';

.mypage {
  position: relative;
  margin-top: 5%;
}

// 마이페이지
.mypage-top {
    display: flex;
    justify-content: center;
  }
  
.mypage-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5%;
  width: 30%;
}

// .mypage-image-profile {
//   border: $veryperi 3px solid;
//   border-radius: 100%;
//   width: 80%;
//   aspect-ratio: 1;
// }

.mypage-left-item {
  margin: 15px;
}

.mypage-image-tier {
  align-self: center;
}

.mypage-summoner {
  align-self: center;
}

.mypage-lol-info {
  display: flex;
  flex-direction: column;
  background-color: $box-color;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 1%;
  height: 350px;
  justify-content: center;
}

.mypage-right {
  margin: 2.5%;
  width: 40%;
}

.mypage-contents-box {
  display: flex;
  flex-direction: column;
  background-color: $box-color;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding: 1%;
  height: 350px;
  justify-content: start;
}

.mypage-contents-item {
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  margin: 2%;
  height: 25px;
}

.mypage-mode {
  border: $box-color 1px solid;
  border-top: $box-color 2px solid;
  padding: 5px;
  cursor: pointer;
}

.mypage-mode-start {
  border-left: $box-color 2px solid;
  border-top-left-radius: 10px;
}

.mypage-mode-end {
  border-right: $box-color 2px solid;
  border-top-right-radius: 10px;
}

.mypage-selected {
  background-color: $box-color;
  color: black;
}

.mypage-bottom {
  text-align: center;
}

.new-profile-img {
  border-bottom: 1px dashed;
}

.default-profile-img {
  text-align: center;
}

.no-pagination {
  display: none;
}

 /* pagination*/
.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

 /* 회원 탈퇴 버튼 */
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

#delete-btn {
  color: rgb(219, 219, 219) !important;
}

.cancel {
  color: black !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  // padding-top: 10px;
  // margin-top: 2%;
}

.login {
  display: flex;
  justify-content: center;
}
  /* 입력 폼 정렬 */
.login-form {
  radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: auto;
  background-color: white;
  // padding-top: 10px;
  // margin-top: 2%;
}

/* 로그인 폼 정렬 */
.input-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 250px;
}

// 회원가입 폼
.css-1nrlq1o-MuiFormControl-root {
  width: 315px;
}

// 회원가입 경고문
.css-1wc848c-MuiFormHelperText-root.Mui-error {
  font-size: 13px;
  letter-spacing: -.5px;
  color: #ff003e;
  vertical-align: middle;
}

/* 회원가입 버튼 색상 */
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
  background-color: $veryperi !important;
}

#naverIdLogin {
  padding-top: 8px;
  width: 200px;
}

#kakaoIdLogin {
  padding-top: 8px;
  width: 200px;
  height: 55px;
}

#googleIdLogin {
  width: 205px;
  height: 60px;
}

.login_or {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  width: 250px;
  height: 1px;
  background-color: $veryperi;
}

.login_text {
  position: relative;
  bottom: 10px;
  color: $veryperi;
  background-color: white;
  padding: 10px;
}

/* 이메일 인증 메시지 */
.email-auth-notice {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .mypage-top {
    flex-direction: column;
    align-items: center;
    // width: 300%;
  }

  .mypage-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5%;
    width: 50%;
  }

  .mypage-right {
    margin: 2.5%;
    width: 85%;
  }

  .css-e53awj-MuiStack-root {
    flex-direction: column !important;
  }

  #googleIdLogin {
    width: 205px;
    height: 60px;
    margin-left: 15px;
  }

  .email-auth-notice {
    flex-direction: column;
  }

  .css-1pxa9xg-MuiAlert-message {
    font-size: 13px;
  }
  
  .pagination {
    background-color: #ff003e;
  }
}
